{
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-explicit-any": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  }
}