@import-normalize;
@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pd-top-40 {
  padding-top: 40px;
}
.pd-top-20 {
  padding-top: 20px;
}
.pd-bottom-40 {
  padding-bottom: 40px;
}

.txt-center {
  text-align: center;
}
